.wrapper {
    position: relative;
}

.inner {
    padding: 24px 0;
    max-width: 1516px;
    margin: 104px auto 0 auto;
    border-radius: 24px;
    background: #1A1A1A;
    position: relative;
    z-index: 4;
    overflow: hidden;

    @media (max-width: 768px) {
        padding-top: 0;
        margin-top: 20px;
    }
}

.links {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 8px;

    @media (max-width: 768px) {
        align-items: center;
    }

    .link {
        font-size: 32px;
        font-weight: 500;
        color: var(--white);
        line-height: 150%;
        text-decoration: none;
    }
}

.socials {
    width: fit-content;
    margin-top: 32px;
    display: flex;
    gap: 8px;

    @media (max-width: 768px) {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(6, 1fr); // 6 колонок
        gap: 12px;
        :nth-child(1) {
            grid-column: 1 / span 3; // занимает колонки 1-3
        }
        :nth-child(2) {
            grid-column: 4 / span 3; // занимает колонки 4-6
        }
        :nth-child(3) {
            grid-column: 2 / span 4; // занимает колонки 2-5 (центрированная)
        }
    }

}

.phones {
    position: absolute;
    top: 57%;
    left: 68%;
    transform: translate(-50%, -50%);
    z-index: 2;

    @media (max-width: 768px) {
        margin-top: 60px;
        height: 700px;
        position: relative;
        transform: none;
        top: 0;
        left: 0;
    }

    .logoImage {
        position: absolute;
        top: 45%;
        left: 50%;
        z-index: 2;
        transform: translate(-50%, -50%);

        @media (max-width: 768px) {
            width: 840px;
            height: 580px;
            left: 34%;
        }

    }

    .ellipse1 {
        left: 36%;
        width: 325px;
        height: 325px;

        position: absolute;
        top: 1%;
        z-index: 2;

        border-radius: 50%;
        background: var(--primary);
        filter: blur(100px);
        pointer-events: none;
    }

    .ellipse2 {
        width: 328px;
        height: 328px;

        position: absolute;
        top: 30%;
        left: 36%;
        z-index: 1;

        border-radius: 50%;
        background: var(--primary);
        filter: blur(400px);
        pointer-events: none;
    }

    .ellipse3 {
        width: 558px;
        height: 558px;

        position: absolute;
        top: 11%;
        left: 23%;
        z-index: 2;

        border-radius: 50%;
        background: var(--primary);
        filter: blur(400px);
        pointer-events: none;

        @media (max-width: 768px) {
            top: 27%;
            left: 18%;
            filter: blur(200px);
        }
    }

    .mobileImagePhoneWrapper {
        display: none;

        @media (max-width: 768px) {
            display: block;

            position: absolute;
            top: 6%;
            z-index: 3;
        }
    }

    .mobileLogoPhoneWrapper {
        display: none;

        @media (max-width: 768px) {
            display: block;
        }

        position: absolute;
        top: 55%;
        left: 0%;
        z-index: 3;
    }

    .mobileLogoImage {
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

.imagePhone {
    padding: 24px 0;
    max-width: 1516px;
    margin: 104px auto 0 auto;
    border-radius: 24px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 4;

    @media (max-width: 768px) {
        display: none;

    }

    .imagePhoneWrapper {
        position: absolute;
        top: 32.5%;
        left: 70%;
        transform: translate(-50%, -50%);
        z-index: 4;

        .blockImage {
            position: relative;
            z-index: 4;
            display: block;
        }
    }

    .logoPhoneWrapper {
        position: absolute;
        top: 67.5%;
        left: 80%;
        transform: translate(-50%, -50%);
        z-index: 4;
        pointer-events: none;

        .logoImage {
            position: relative;
            z-index: 4;
            display: block;
            pointer-events: none;
            object-fit: contain;

            @media (max-width: 768px) {
                width: 100%;
                height: auto;
            }
        }
    }


}