.serviceAreasList {
    margin-top: 48px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;

    @media (max-width: 1200px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 768px) {
        grid-template-columns: 1fr;
    }
}

.gradientBorder {
    position: relative;
    border-radius: 24px;
    background: var(--dark); // Темный фон
    backdrop-filter: blur(10px);
    overflow: hidden;

    // Градиентная рамка
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: 24px;
        padding: 2px; // Толщина градиентной линии
        background: linear-gradient(135deg,
                #FF9C00 0%,
                rgba(255, 156, 0, 0.7) 0%,
                rgba(255, 156, 0, 0.3) 20%,
                transparent 100%);
        -webkit-mask:
            linear-gradient(#fff 0 0) content-box,
            linear-gradient(#fff 0 0);
        -webkit-mask-composite: xor;
        mask-composite: exclude;
        pointer-events: none;
        z-index: 1;
    }

    .serviceAreaItem {
        padding: 32px;
        border-radius: 24px;
        
    }

}

.serviceAreaIcon {
    width: 54px;
    height: 54px;
    margin-bottom: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    border: 1px solid var(--primary);
    background-color: #1A1A1A;
}