.wrapper {
    max-width: 792px;
    margin: 48px auto 0;
    width: 100%;
    // padding: 32px;
    border-radius: 32px;
    background: #1A1A1A;
}

.top {
    padding: 32px 32px 24px 32px;
}

.parts {
    margin-top: 24px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 190px;
    align-items: end;
    gap: 16px;

    @media (max-width: 768px) {
        grid-template-columns: 1fr;
    }
}

.divider {
    height: 1px;
    width: 100%;
    background: #999999;
    margin: 24px 0;
    opacity: 0.1;

    @media (max-width: 768px) {
        margin: 16px 0;
    }
}

.verticalDivider {
    height: 45px;
    width: 1px;
    background: #999999;
    margin: 0 32px;
    opacity: 0.1;

    @media (max-width: 768px) {
        width: 100%;
        height: 1px;
        margin: 16px 0;
    }
}

.infoItem {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.infoDescriptionList {
    display: flex;
    gap: 16px;

    & li {
        padding-left: 8px;
        list-style: none;
        position: relative;

    }

    & li::before {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background: var(--primary);
    }
}

.result {
    padding: 24px 32px;
    border-radius: 24px;
    background: var(--primary);

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;

    @media (max-width: 768px) {
        flex-direction: column;
        gap: 16px;
    }
}

.part {
    .ant-select-selector {
        color: #fff !important;
    }
}