.ant-tabs-tab-btn {
  font-size: 18px !important;
  color: var(--dark);
}

@media (max-width: 480px) {
  .ant-tabs-nav {
    margin-bottom: 24px !important;
  }
}

.ant-collapse-header-text {
  font-weight: 500 !important;
  font-size: 18px !important;
  line-height: 100% !important;
}

.ant-rate * {
  color: inherit;
}

.ant-input {
  font-weight: 400 !important;
  font-size: 16px !important;
  line-height: 100% !important;
  background: var(--light-gray) !important;
  border: none !important;
}

.white-input .ant-input {
  background: var(--white) !important;
}

.ant-input::placeholder {
  font-weight: 400 !important;
  font-size: 16px !important;
  line-height: 100% !important;
}

.ant-form-item-control-input-content textarea,
.ant-form-item-control-input-content textarea::placeholder {
  font-size: 16px !important;
  line-height: 150% !important;
}

.ant-pagination-item {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  margin-right: 16px !important;
}

.ant-pagination-item a {
  color: #d2d0d0 !important;
}

.ant-pagination-item-active a {
  color: var(--white) !important;
}

.ant-pagination-item-link svg {
  fill: #9b9b9b;
}

.ant-pagination-options {
  display: none !important;
}

.ant-modal-wrap {
  max-height: 100svh !important;
  overflow: hidden !important;
}

.ant-modal-content {
  border-radius: 32px !important;
  padding: 40px !important;
  max-height: 90svh !important;
  display: flex !important;
  flex-direction: column !important;
}

.ant-modal-header {
  margin-bottom: 32px !important;
  flex-shrink: 0 !important;
}

.ant-modal-body {
  display: flex !important;
  flex-direction: column !important;
  overflow-y: auto !important;
  flex: 1 !important;
  padding-right: 20px !important;
  margin-right: -20px;
}

.ant-modal-footer {
  display: none;
}

@media (max-width: 480px) {
  .ant-modal-content {
    padding: 24px !important;
  }

  .ant-modal-header {
    margin-bottom: 24px !important;
  }
}

.ant-picker-input input::placeholder,
.ant-picker-input input {
  font-size: 16px !important;
}

.ant-picker-status-error,
.ant-picker {
  width: 100% !important;
  border: none !important;
  background: var(--light-gray) !important;
  padding: 20px 24px !important;
}


.ant-form-item-explain {
  margin-top: 8px !important; /* Отступ ошибки от поля */
  margin-bottom: 4px !important; /* Отступ ошибки от следующего элемента */
}

/* Базовые стили для Select */
.ant-select {
  width: 100% !important;
}

.ant-select-selector {
  background: transparent !important;
  border: none !important;
  border-radius: 8px !important;
  /* padding: 16px 0 !important; */
  height: auto !important;
  align-items: center !important;
  box-shadow: none !important; /* Убираем тень/рамку */
}

/* Убираем обводку при фокусе для всех состояний */
.ant-select-focused .ant-select-selector,
.ant-select-selector:focus,
.ant-select-selector:focus-within,
.ant-select-selector:focus-visible,
.ant-select-open .ant-select-selector {
  border-color: transparent !important;
  box-shadow: none !important;
  outline: none !important;
}

/* Убираем стандартные отступы у внутренних элементов */
/* .ant-select-selection-overflow,
.ant-select-selection-item,
.ant-select-selection-placeholder {
  padding-left: 0 !important;
  padding-right: 0 !important;
} */

/* Стили для текста внутри Select */
.ant-select-selection-item,
.ant-select-selection-placeholder {
  font-weight: 400 !important;
  font-size: 16px !important;
  line-height: 100% !important;
  color:#9b9b9b;
}

/* Стили для placeholder */
.ant-select-selection-placeholder {
  color: rgba(0, 0, 0, 0.25);
}

/* Стили для выпадающего списка */
.ant-select-dropdown {
  border-radius: 8px !important;
  padding: 8px 0 !important;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

/* Стили для элементов выпадающего списка */
.ant-select-item {
  font-weight: 400 !important;
  font-size: 16px !important;
  line-height: 100% !important;
  padding: 12px 24px !important;
}

/* Стили для активного/выбранного элемента */
.ant-select-item-option-active {
  background: rgba(0, 0, 0, 0.04) !important;
}

.ant-select-item-option-selected {
  background: var(--primary-light) !important;
  color: var(--primary);
  font-weight: 500 !important;
}

/* Стили для состояния error */
.ant-select-status-error .ant-select-selector {
  border: 1px solid #ff4d4f !important;
  background: var(--light-gray) !important;
}

/* Стили для стрелки Select */
.ant-select-arrow {
  /* color: #9b9b9b !important; */
  /* right: 0 !important; */
}