//flexbox
.flex{
  display: flex;
}

.flex-col{
  flex-direction: column;
}

.flex-row{
  flex-direction: row;
}


.row-flex-8 {
  display: flex;
  align-items: center;
  gap: 8px;
}

.row-flex-16 {
  display: flex;
  align-items: center;
  gap: 16px;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.align-left {
  align-self: self-start;
}

.gap-16 {
  gap: 16px;
}

.gap-24 {
  gap: 24px;
}

.gap-32 {
  gap: 32px;
}

//containers
.container {
  max-width: calc(var(--container-width) + 32px);
  margin: 0px auto;
  padding: 24px 16px;
}

.container-24,
.container-40 {
  max-width: calc(var(--container-width) + 32px);
  margin: 0px auto;
  padding: 104px 16px;
}

@media (max-width: 800px) {

  .container {
    padding: 40px 16px;
  }

  .container-24 {
    padding: 24px 16px;
  }

  .container-40 {
    padding: 40px 16px;
  }
}

//blocks
.app-layout {
  width: 100%;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
}

.app-main {
  flex-grow: 1;
  width: 100%;
  background: var(--white);
}


.content-block {
  padding: 40px;
  border-radius: 32px;
  background: var(--light-gray);

  @media (max-width: 480px) {
    padding: 24px;
  }
}

//padding
.padding-40{
  padding: 40px;
}

.padding-t-0 {
  padding-top: 0;
}

.padding-t-40 {
  padding-top: 40px;
}

.padding-r-24 {
  padding-right: 24px;
}

.padding-r-32 {
  padding-right: 32px;
}

.padding-b-16 {
  padding-bottom: 16px;
}

.padding-x-16 {
  padding-left: 16px;
  padding-right: 16px;
}

.padding-x-32 {
  padding-left: 32px;
  padding-right: 32px;
}

.padding-x-40 {
  padding-left: 40px;
  padding-right: 40px;
}

.padding-y-16 {
  padding-top: 16px;
  padding-bottom: 16px;
}

.padding-y-24 {
  padding-top: 24px;
  padding-bottom: 24px;
}

.padding-y-32 {
  padding-top: 32px;
  padding-bottom: 32px;
}

.padding-y-40 {
  padding-top: 40px;
  padding-bottom: 40px;
}

.padding-y-104 {
  padding-top: 104px;
  padding-bottom: 104px;
}

// margin
.margin-t-auto {
  margin-top: auto;
}

.margin-b-auto {
  margin-bottom: auto;
}

.margin-x-auto {
  margin-left: auto;
  margin-right: auto;
}

.margin-y-auto {
  margin-top: auto;
  margin-bottom: auto;
}

.margin-r-24 {
  margin-right: 24px;
}

.margin-r-32 {
  margin-right: 32px;
}

.margin-b-8 {
  margin-bottom: 8px;
}

.margin-b-16 {
  margin-bottom: 16px;
}

.margin-b-24 {
  margin-bottom: 24px;
}

.margin-b-64 {
  margin-bottom: 64px;
}

.margin-t-16 {
  margin-top: 16px;
}

.margin-b-24 {
  margin-bottom: 24px;
}

.margin-b-32 {
  margin-bottom: 32px;
}

.margin-b-48 {
  margin-bottom: 48px;
}

//bg
.bg-gray {
  background: var(--light-gray);
}

//position
.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.top-0 {
  top: 0;
} 
.bottom-0 {
  bottom: 0;
}
.left-0 {
  left: 0;
}
.right-0 {
  right: 0;
}

.center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

//fonts
.font-14-normal {
  font-weight: 400;
  font-size: 14px;
}

.font-14-medium {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
}

.font-16-normal {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.font-16-medium {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.font-18-normal {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

.font-18-medium {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
}

.font-18-semibold {
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
}

.font-24-medium {
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
}

.font-32-semibold {
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
}

.font-40-semibold {
  font-weight: 600;
  font-size: 40px;
  line-height: 48px;
}

.font-56-medium {
  font-weight: 500;
  font-size: 56px;
  line-height: 56px;
}

// font color
.black-color {
  color: var(--dark);
}

.white-color {
  color: var(--white);
}

.gray-color {
  color: var(--gray);
}

.orange-color {
  color: var(--orange);
}


//text
.title {
  font-weight: 500;
  font-size: 56px;
  letter-spacing: -0.05em;

  span {
    color: var(--orange) !important;
    font-weight: 500;
    font-size: 56px;
    letter-spacing: -0.05em;
  }

  @media (max-width: 800px) {
    font-size: 48px;
    span {
      font-size: 48px;
    }
  }

  @media (max-width: 480px) {
    font-size: 32px;
    span {
      font-size: 32px;
    }
  }
}

.title-container {
  margin-bottom: 48px;

  @media (max-width: 768px) {
    margin-bottom: 24px;
  }
}

.sub-title {
  font-weight: 500;
  font-size: 36px;
  letter-spacing: -0.02em;

  @media (max-width: 768px) {
    font-size: 24px;
  }
}

.text-left {
  text-align: left;
}

.text-secondary {
  color: var(--text-secondary);
}

//borders
.border-radius-32 {
  border-radius: 32px;
}

.border-radius-24 {
  border-radius: 24px;
}

.border-radius-16 {
  border-radius: 16px;
}

.border-radius-12 {
  border-radius: 12px;
}


