:root {
  --dark: #121212;
  --gray: #d4d4d4;
  --light-gray: #f3f3f3;
  --dark-gray: #808080;
  --light: #fbfbfb;
  --white: #fefefe;
  --orange: #ff9c00;
  --link-button: #f5f5f5;
  --green: #00bea2;
  --blue: #012256;
  --container-width: 1200px;
  --header-footer-width: 1792px;

  --transition-duration: 0.15s;
}



* {
  padding: 0;
  margin: 0;
  border: 0;
  font-weight: 400;
  font-size: 16px;
  color: var(--dark);
  line-height: 100%;
  font-family: "Inter", sans-serif;

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  touch-action: manipulation;

}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  overflow-x: hidden !important;
  min-height: 100%;
  width: 100% !important;
  font-size: 100%;
  // line-height: 1;
  // font-size: 14px;
  // -ms-text-size-adjust: 100%;
  // -moz-text-size-adjust: 100%;
  // -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Inter", sans-serif;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

@media (hover: hover) {
  a:hover {
    transition-duration: var(--transition-duration);
    text-decoration: none;
    color: var(--orange);
  }
}

a:active {
  transition-duration: var(--transition-duration);
  text-decoration: none;
  color: var(--orange);
}

ul li {
  list-style: none;
}

i {
  display: flex;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6,
address {
  font-size: inherit;
  font-weight: 400;
  font-style: normal;
}

textarea::placeholder,
textarea,
input::placeholder,
input {
  font-family: "Inter", sans-serif !important;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: -0.02em;
}

textarea::placeholder,
textarea {
  line-height: 100% !important;
}

input::placeholder,
input {
  font-family: "Inter", sans-serif !important;
  line-height: 20px !important;
}

// body {
//   // -webkit-font-smoothing: antialiased;
//   // -moz-osx-font-smoothing: grayscale;
// }

.font-14-normal {
  font-weight: 400;
  font-size: 14px;
}

.font-14-medium {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
}

.font-16-normal {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.font-16-medium {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.font-18-normal {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

.font-18-medium {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
}

.font-18-semibold {
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
}

.font-24-medium {
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
}

.font-32-semibold {
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
}

.font-40-semibold {
  font-weight: 600;
  font-size: 40px;
  line-height: 48px;
}

.font-56-medium {
  font-weight: 500;
  font-size: 56px;
  line-height: 56px;
}

.black-color {
  color: var(--dark);
}

.white-color {
  color: var(--white);
}

.gray-color {
  color: var(--gray);
}

.orange-color {
  color: var(--orange);
}

// margin

.margin-r-24 {
  margin-right: 24px;
}

.margin-r-32 {
  margin-right: 32px;
}

.margin-b-16 {
  margin-bottom: 16px;
}

.margin-b-24-16 {
  margin-bottom: 24px;
}

.margin-b-64-40 {
  margin-bottom: 64px;
}

.cursor-pointer {
  cursor: pointer;
}

@media (max-width: 480px) {
  .margin-b-24-16 {
    margin-bottom: 16px;
  }

  .margin-b-64-40 {
    margin-bottom: 40px;
  }
}

// padding

.app-layout {
  width: 100%;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
}

.app-main {
  flex-grow: 1;
  width: 100%;
  background: var(--white);
}

.container {
  max-width: calc(var(--container-width) + 32px);
  margin: 0px auto;
  padding: 0px 16px;
}

.container-24,
.container-40 {
  max-width: calc(var(--container-width) + 32px);
  margin: 0px auto;
  padding: 104px 16px;
}

@media (max-width: 800px) {
  .container-24 {
    padding: 24px 16px;
  }

  .container-40 {
    padding: 40px 16px;
  }
}

.title {
  font-weight: 500;
  font-size: 56px;
  letter-spacing: -0.05em;

  span {
    color: var(--orange) !important;
    font-weight: 500;
    font-size: 56px;
    letter-spacing: -0.05em;
  }
}

.title-m-48 {
  margin-bottom: 48px;
}

.title-m-32 {
  margin-bottom: 32px;
}

.sub-title {
  font-weight: 500;
  font-size: 36px;
  letter-spacing: -0.02em;
}

.sub-title-m-32 {
  margin-bottom: 32px;
}

@media (max-width: 800px) {
  .title {
    font-size: 48px;

    span {
      font-size: 48px;
    }
  }

  .title-m-48 {
    margin-bottom: 32px;
  }
}

@media (max-width: 480px) {
  .title {
    font-size: 32px;

    span {
      font-size: 32px;
    }
  }

  .title-m-32,
  .title-m-48 {
    margin-bottom: 24px;
  }
}

.swiper {
  max-width: 100%;
  height: 100%;
}

.swiper-slide {
  height: initial !important;
}

.swiper-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10px;
}

.swiper-pagination-bullet {
  transition-duration: var(--transition-duration);
  width: 8px !important;
  height: 8px !important;
}

.swiper-pagination-bullet-active {
  height: 10px !important;
  width: 10px !important;
  background: var(--orange) !important;
}

.content-block {
  padding: 40px;
  border-radius: 32px;
  background: var(--light-gray);
}

@media (max-width: 480px) {
  .content-block {
    padding: 24px;
  }
}

.bg-gray {
  background: var(--light-gray);
}

.default-tag {
  * {
    line-height: 150% !important;
    white-space: pre-wrap;
    font-size: 18px;
  }

  p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
    line-height: 150%;
  }

  h1 {
    display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    font-weight: bold;
  }

  h2 {
    display: block;
    font-size: 1.5em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    font-weight: bold;
  }

  h3 {
    display: block;
    font-size: 1.17em;
    margin-top: 1em;
    margin-bottom: 1em;
    font-weight: bold;
  }

  b,
  strong {
    font-weight: bold;
  }

  i,
  em {
    font-style: italic;
  }

  /* Списки */
  ul,
  ol {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    padding-left: 40px;
  }

  li {
    list-style: inherit;
    display: list-item;
  }

  /* Ссылки */
  a {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
  }

  /* Таблицы */
  table {
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: grey;
  }

  td,
  th {
    display: table-cell;
    padding: 1em;
  }

  /* Кнопки */
  button {
    display: inline-block;
    padding: 0.5em 1em;
    border: 2px solid #ccc;
    background-color: #f5f5f5;
    cursor: pointer;
  }

  /* Формы */
  input,
  textarea,
  select {
    display: inline-block;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
  }
}

:root {
  --scrollbar-width: calc(100vw - 100%);
}

// html {
//   padding-right: 10px;
//   margin-right: -10px;
// }

html:has(.ant-modal-mask) {
  // pointer-events: none;
  overflow-y: hidden;
  padding-right: 10px;
}

/* Элегантный скроллбар */
/* Для Chrome, Safari, Edge */
*::-webkit-scrollbar {
  width: 6px;
  /* Толщина вертикального скроллбара */
  height: 6px;
  /* Толщина горизонтального скроллбара */
}

*::-webkit-scrollbar-track {
  background: transparent;
  /* Полностью прозрачная дорожка */
}

*::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.3);
  /* Цвет ползунка */
  border-radius: 3px;
  transition: all 0.3s ease;
}

*::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.5);
  /* Цвет при наведении */
}

/* Убираем кнопки (стрелки) скроллбара */
*::-webkit-scrollbar-button {
  display: none;
  width: 0;
  height: 0;
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--orange) transparent;
}

@supports (-webkit-touch-callout: none) {
  html:has(.ant-modal-mask) {
    padding-right: 0px !important;
  }
}

.ant-input {
  background-color: transparent !important;
}