:root {
  --dark: #121212;
  --gray: #d4d4d4;
  --light-gray: #f3f3f3;
  --dark-gray: #808080;
  --text-secondary: #64748b;
  --light: #fbfbfb;
  --white: #fefefe;
  --primary: #ff9c00;
  --dark-secondary:#999999;
  --link-button: #f5f5f5;
  --green: #00bea2;
  --blue: #012256;
  --container-width: 1200px;
  --header-footer-width: 1792px;
  --error: #FF2727;

  --transition-duration: 0.15s;
  --scrollbar-width: calc(100vw - 100%);

}

* {
  padding: 0;
  margin: 0;
  border: 0;
  font-weight: 400;
  font-size: 16px;
  color: var(--dark);
  line-height: 100%;
  font-family: "Inter", sans-serif;

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  touch-action: manipulation;

}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  overflow-x: hidden !important;
  min-height: 100%;
  width: 100% !important;
  font-size: 100%;
}

input,
button,
textarea {
  font-family: "Inter", sans-serif;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

@media (hover: hover) {
  a:hover {
    transition-duration: var(--transition-duration);
    text-decoration: none;
    color: var(--primary);
  }
}

a:active {
  transition-duration: var(--transition-duration);
  text-decoration: none;
  color: var(--primary);
}

ul li {
  list-style: none;
}

i {
  display: flex;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6,
address {
  font-size: inherit;
  font-weight: 400;
  font-style: normal;
}

textarea::placeholder,
textarea,
input::placeholder,
input {
  font-family: "Inter", sans-serif !important;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: -0.02em;
}

textarea::placeholder,
textarea {
  line-height: 100% !important;
}

input::placeholder,
input {
  font-family: "Inter", sans-serif !important;
  line-height: 20px !important;
}




html:has(.ant-modal-mask) {
  // pointer-events: none;
  overflow-y: hidden;
  padding-right: 10px;
}

/* Элегантный скроллбар */
/* Для Chrome, Safari, Edge */
*::-webkit-scrollbar {
  width: 6px;
  /* Толщина вертикального скроллбара */
  height: 6px;
  /* Толщина горизонтального скроллбара */
}

*::-webkit-scrollbar-track {
  background: transparent;
  /* Полностью прозрачная дорожка */
}

*::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.3);
  /* Цвет ползунка */
  border-radius: 3px;
  transition: all 0.3s ease;
}

*::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.5);
  /* Цвет при наведении */
}

/* Убираем кнопки (стрелки) скроллбара */
*::-webkit-scrollbar-button {
  display: none;
  width: 0;
  height: 0;
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--primary) transparent;
}

@supports (-webkit-touch-callout: none) {
  html:has(.ant-modal-mask) {
    padding-right: 0px !important;
  }
}

