.departure-select {
    .ant-select-selector {
        border-radius: 16px 0px 0px 16px !important;
    }
}

.arrival-select {
    .ant-select-selector {
        border-radius: 0px 16px 16px 0px !important;
    }
}

@media (max-width: 775px) {
    .departure-select {
        .ant-select-selector {
            border-radius: 16px 16px 0px 0px !important;
        }
    }

    .arrival-select {
        .ant-select-selector {
            border-radius: 0px 0px 16px 16px !important;
        }
    }
}


.default-tag {
    * {
        line-height: 150% !important;
        white-space: pre-wrap;
        font-size: 18px;
    }

    p {
        display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        unicode-bidi: isolate;
        line-height: 150%;
    }

    h1 {
        display: block;
        font-size: 2em;
        margin-top: 0.67em;
        margin-bottom: 0.67em;
        font-weight: bold;
    }

    h2 {
        display: block;
        font-size: 1.5em;
        margin-top: 0.83em;
        margin-bottom: 0.83em;
        font-weight: bold;
    }

    h3 {
        display: block;
        font-size: 1.17em;
        margin-top: 1em;
        margin-bottom: 1em;
        font-weight: bold;
    }

    b,
    strong {
        font-weight: bold;
    }

    i,
    em {
        font-style: italic;
    }

    /* Списки */
    ul,
    ol {
        display: block;
        margin-top: 1em;
        margin-bottom: 1em;
        padding-left: 40px;
    }

    li {
        list-style: inherit;
        display: list-item;
    }

    /* Ссылки */
    a {
        color: -webkit-link;
        cursor: pointer;
        text-decoration: underline;
    }

    /* Таблицы */
    table {
        display: table;
        border-collapse: separate;
        border-spacing: 2px;
        border-color: grey;
    }

    td,
    th {
        display: table-cell;
        padding: 1em;
    }

    /* Кнопки */
    button {
        display: inline-block;
        padding: 0.5em 1em;
        border: 2px solid #ccc;
        background-color: #f5f5f5;
        cursor: pointer;
    }

    /* Формы */
    input,
    textarea,
    select {
        display: inline-block;
        margin: 0;
        font-family: inherit;
        font-size: inherit;
        line-height: inherit;
    }
}


.swiper {
    max-width: 100%;
    height: 100%;
}

.swiper-slide {
    height: initial !important;
}

.swiper-pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10px;
}

.swiper-pagination-bullet {
    transition-duration: var(--transition-duration);
    width: 8px !important;
    height: 8px !important;
}

.swiper-pagination-bullet-active {
    height: 10px !important;
    width: 10px !important;
    background: var(--primary) !important;
}

.ant-input {
    background-color: transparent !important;
  }
  
  .badge__comments{
    margin-bottom: 16px !important;
    height: 540px !important;
    overflow-y: scroll !important;
  }


  [data-placeholder-gray="true"]::placeholder {
    color: #999999 !important;
  }