.row-flex-8 {
  display: flex;
  align-items: center;
  gap: 8px;
}

.departure-select {
  .ant-select-selector {
    border-radius: 16px 0px 0px 16px !important;
  }
}

.arrival-select {
  .ant-select-selector {
    border-radius: 0px 16px 16px 0px !important;
  }
}

@media (max-width: 775px) {
  .departure-select {
    .ant-select-selector {
      border-radius: 16px 16px 0px 0px !important;
    }
  }

  .arrival-select {
    .ant-select-selector {
      border-radius: 0px 0px 16px 16px !important;
    }
  }
}