.wrapper{
    padding: 104px 0;

  @media screen and (max-width: 768px) {
    padding: 40px 0;
  }
}

.instructionList{
    margin-top: 48px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;

    @media screen and (max-width: 1200px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (max-width: 768px) {
        margin-top: 24px;
        gap: 16px;
        grid-template-columns: 1fr;
    }

    
}

.instructionItem{
    height: 306px;
    padding: 24px;
    border-radius: 24px;
    background-color: #1A1A1A;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;

    .grillEffect {
        position: absolute;
        bottom: -26%;
        left: 50%;
        transform: translateX(-50%);
        width: 251px;
        height: 181px;
        background-color: var(--primary);
        filter: blur(55px);
        pointer-events: none;
        z-index: 1;
        border-radius: 24px;
    }

    .instructionItemIcon{
        position: absolute;
        bottom: -35px;
        left: 50%;
        transform: translateX(-50%);
        color: var(--primary);
        font-size: 180px;
        font-weight: 700;
        line-height: 100%;
    }   
}
