  .wrapper {
    padding: 40px 0;
    background: var(--light-gray);
  }
  
  .container {
      display: flex;
      flex-direction: column;
      padding: 0px 16px 30px 16px;

  }

  .list {
      display: flex;
      flex-direction: column;
      gap: 12px;
  }

