.section {
    padding: 60px 0;
  
    @media (max-width: 800px) {
      padding: 40px 0;
    }
  }
  
  .widgetWrapper {
    background: #fff;
    border-radius: 24px;
    padding: 0;
    max-width: 720px;
  
    @media (max-width: 540px) {
      max-width: 380px;
      margin: 0 auto;
    }
  }
  
  .widgetContainer {
    position: relative;
    overflow: hidden;
  
    &.hidden {
      opacity: 0;
      height: 0;
    }
  }
  
  .reviewsIframe {
    display: block;
    width: 100%;
    min-width: 100%;
    height: 900px !important;
    border: none;
    background: transparent;

    @media (max-width: 540px) {
        height: 500px !important;
    }
  }
  