.wrapper {
    padding-top: 104px;
    padding-bottom: 40px;
    margin-bottom: 120px;
    position: relative;

    .content {
        position: relative;
        z-index: 4;
    }

    @media (max-width: 768px) {
        padding-top: 0;
        margin-top: -40px;
        padding-bottom: 0;
        margin-bottom: 0;
    }
}

.phones {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;

    @media (max-width: 768px) {
        margin-top: 24px;
        position: relative;
        transform: none;
        top: 0;
        left: 0;
    }


    .carBg {
        height: 450px;
        object-fit: contain;
        position: absolute;
        bottom: -149px;
        left: 50%;
        transform: translate(-50%, 0);
        z-index: 21;

        @media (max-width: 768px) {
            position: relative;
            transform: none;
            bottom: 0;
            left: 0;
            width: 100%;
            height: auto;
        }
    }

    .logoBg {
        width: 1145px;
        height: 600px;
        object-fit: contain;
        position: absolute;
        top: 37%;
        left: 50%;
        transform: translate(-50%, 0);
        z-index: 1;

        @media (max-width: 768px) {
            display: none;
        }
    }
}