.title{
  min-height: 80px;
}

.listWrapper{
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.advantages {
  width: 100%;
  max-width: 480px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 8px;
}

.advantage {
  padding: 16px;
  background: var(--light-gray);
  gap: 12px;
  display: flex;
  flex-direction: column;
  border-radius: 16px;

  &.wide {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  span:first-child {
    white-space: nowrap;
  }
}

@media (max-width: 1010px) {
  .advantages {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 800px) {
  .title,
  .title span {
    font-size: 32px;
  }

  .description {
    font-size: 16px;
    color:var(--dark);
  }
}

@media (max-width: 480px) {
  .advantages {
    grid-template-columns: 1fr;
  }

  .advantage,
  .advantage.wide {
    grid-column-start: auto;
    grid-column-end: auto;
    flex-direction: row;
    align-items: center;
    gap: 24px;
  }
}
