.advantages {
  display: flex;
  gap: 24px;
}

.advantage {
  color: var(--white);
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 0%;

  span {
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 0%;
    color: var(--primary);
  }
}

.block {
  display: flex;
  flex-direction: column;
  gap: 24px;

  button {
    width: fit-content;
  }
}

@media (max-width: 760px) {
  .wrapper {
    background: var(--dark);
  }

  .block {
    align-items: center;
  }
}

@media (max-width: 480px) {
  .advantages {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
}



.phones {
  position: absolute;
  top: 50%;
  left: 58%;
  transform: translate(-50%, -50%);
  z-index: 2;

  @media (max-width: 768px) {
    position: relative;
    transform: none;
    top: 0;
    left: 0;
  }

  .blockImage {
    position: relative;
    z-index: 4;
    display: block;

    @media (max-width: 768px) {
      width: 100%;
      height: auto;
    }
  }

  .logoImage {
    position: absolute;
    top: 45%;
    left: 50%;
    z-index: 1;
    transform: translate(-50%, -50%);

    @media (max-width: 768px) {
      width: 840px;
      height: 580px;
    }

  }

  .glowEffect {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-30%, -50%);
    width: 590px;
    height: 640px;
    z-index: 2;
    background: radial-gradient(circle at center, rgb(255, 156, 0) 0%, rgba(255, 156, 0, 0.8) 40%, rgba(255, 156, 0, 0.4) 60%, transparent 40%);
    filter: blur(170px);
    pointer-events: none;

    @media (max-width: 768px) {
      position: absolute;
      top: 44%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 349px;
      height: 138px;
      z-index: 2;
      background: radial-gradient(circle at center, rgb(255, 156, 0) 0%, rgb(255 156 0) 40%, rgb(255 156 0) 60%, transparent 40%);
      filter: blur(57px);
      pointer-events: none;
    }
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    background: radial-gradient(ellipse at 30% 50%,
        rgba(255, 156, 0, 0.6) 0%,
        rgba(255, 156, 0, 0.3) 60%,
        transparent 40%);
    filter: blur(70px);
    pointer-events: none;

    @media (max-width: 768px) {
      display: none;
    }
  }
}