.swiperWrapper {
    // position: relative;
    width: 100%;
}

.swiperContainer {
    width: 100%;
    padding: 16px 0;

    // Кастомный скроллбар для Swiper
    :global {
        .custom-scrollbar {
            position: relative;
            height: 6px;
            background: #f0f0f0;
            border-radius: 3px;
            margin-top: 16px;
            cursor: pointer;

            // Скрываем стандартный скроллбар Swiper
            .swiper-scrollbar-drag {
                background: var(--orange);
                border-radius: 3px;
                transition: background 0.2s ease;

                &:hover {
                    background: var(--orange);
                }
            }
        }
    }
}

.swiperSlide {
    @media (min-width: 480px) {
        width: auto !important;
    }

}


// Кастомный скроллбар
.customScrollbar {

    position: relative;
    width: 100%;
    height: 6px;
    background: #f0f0f0;
    border-radius: 3px;
    margin-top: 16px;
    overflow: hidden;
    cursor: pointer;
}

.scrollbarTrack {
    position: relative;
    width: 100%;
    height: 100%;
}

.scrollbarThumb {
    position: absolute;
    height: 100%;
    background: var(--orange);
    border-radius: 3px;
    cursor: pointer;
    transition: left 0.3s ease, background 0.2s ease; // Плавная анимация позиции

    &:hover {
        background: var(--orange);
    }
}


// Адаптивные стили
@media (max-width: 768px) {
    .swiperContainer {
        padding: 12px 0;
    }

    .customScrollbar {
        height: 4px;
        margin-bottom: 12px;
    }

    // .attractionsItem .cardWrapper .cardContainer .imageWrapper {
    //   width: 300px;
    //   height: 200px;
    // }
}