.inner{
    width: 100%;
    max-width: 1516px;
    margin: 104px auto 0 auto;
    padding: 48px 156px;
    border-radius: 24px;

    position: relative;

    @media (max-width: 1400px) {
        padding: 40px 16px;
        height: auto;
    }

    @media (max-width: 768px) {
        padding:24px 0 0;
        margin: 40px auto 0 auto;
        background-color: #1A1A1A;

        position: relative;
        z-index: 10;
        height: auto;
        margin-top: 0;
    }



    .imageBg {
        @media (max-width: 768px) {
            display: none;
        }
    }
}


.routesGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;

    @media (max-width: 1200px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 768px) {
        grid-template-columns: 1fr;
    }
}


.card {
    .cardContent {
        display: grid;
        grid-template-columns: 65% 35%;
    }

    .cardContentLeft {
        padding: 24px;

        border-radius: 16px 8px 8px 16px;
        background-color: #0F0F0F;

        .cardContentLeftTop {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 8px;

            .arrow {
                margin: 8px 0;
                width: 24px;
                height: 24px;

                display: flex;
                align-items: center;
                justify-content: center;

                border-radius: 50%;
                background-color: var(--primary);
            }
        }

        .divider {
            height: 1px;
            width: 100%;
            background-color: var(--dark-secondary);
            margin: 16px 0;
            opacity: 0.2;
        }
    }

    .cardContentRight {
        padding: 12px;
        border-radius: 8px;
        background-color: #0F0F0F;
        position: relative;

        display: flex;
        flex-direction: column;
        justify-content:space-between;
        gap: 8px;


        .cardContentRightList{
            display: flex;
            flex-direction: column;
            gap: 8px;

            position: relative;
            z-index: 2;
       
        }

        .cardContentRightListItem{
            // display: flex;
            // align-items: center;
            // justify-content: center;
            // gap: 8px;
            padding-left: 8px;

            position: relative;

            color: var(--dark-secondary);

            &:before{
                content: '';
                width: 4px;
                height: 4px;
                background-color: var(--primary);
                border-radius: 50%;
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }
}