.footer {
  width: 100%;
  background: var(--dark);

  .container {
    max-width: calc(var(--header-footer-width) + 32px);
    padding: 50px 16px 40px;
    margin: 0 auto;

    .top {
      display: grid;
      grid-template-columns: 520px auto 1fr;
      gap: 24px;
      margin-bottom: 24px;
    }

    .bottom {
      display: flex;
      justify-content: space-between;
    }

    .description {
      display: flex;
      flex-direction: column;
      gap: 32px;

      p {
        line-height: 150%;
      }
    }

    .navigationBlock {
      display: flex;
      flex-direction: column;
      gap: 24px;
      align-items: center;
      text-align: center;
    }

    .navigation {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      height: fit-content;
      gap: 40px;

      .navigationColumn {
        display: flex;
        flex-direction: column;
        gap: 16px;

        text-align: left;
      }
    }

    .contacts {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      flex-shrink: 0;
      gap: 16px;
      white-space: nowrap;
    }

    .phoneDescription {
      text-align: end;
    }

    .roundLink {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
      padding: 0;
    }

    @media (max-width: 905px) {
      & {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 24px;
      }

      .top {
        display: contents;
      }

      .description>p {
        display: none;
      }

      .navigation {
        display: block;

        .navigationColumn {
          align-items: center;
          text-align: center;

          &:last-child {
            margin-top: 24px;
          }
        }
      }

      .description,
      .contacts,
      .phoneDescription {
        align-items: center;
        text-align: center;
      }

      .bottom {
        flex-direction: column;
        align-items: center;
        gap: 8px;
      }

      .contacts {
        & a {
          padding: 10px;
          background: var(--orange);
          color: white;
          border-radius: 10px;
        }
      }
    }
  }
}