.wrapper {
  background: var(--light-gray);
  overflow: hidden;
}

.actions {
  max-width: 460px;
  display: flex;
  gap: 24px;
  align-items: center;
  a,
  div {
    line-height: 150%;
  }
}

.image {
  position: absolute;
  left: 500px !important;
  transform: scale(1.5);
  object-fit: contain;
  object-position: center;
}

.imageContainer {
  display: contents;
}

@media (max-width: 993px) {
  .image {
    left: 0 !important;
    position: relative !important;
    transform: scale(2);
    object-fit: contain !important;
    height: auto !important;
    max-height: 200px;
    width: 100% !important;
  }

  .imageContainer {
    // display: none;
  }
}

@media (max-width: 557px) {
  .image {
    transform: scale(1.5);
  }
}

@media (max-width: 480px) {
  .actions {
    button {
      width: 100%;
    }
    width: 100%;
    flex-direction: column;
    text-align: center;
    gap: 24px;
  }

  .contacts {
    display: flex;
    flex-direction: column;
  }
}
