.title {
  margin-bottom: 32px;
}

.steps {
  display: flex;
  flex-direction: column;
  gap: 28px;
  max-width: 321px;
  margin-bottom: 48px;
}
.card {
  display: flex;
  gap: 16px;
}
.content {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

@media (max-width: 993px) {
  .title {
    font-size: 48px;
    span {
      font-size: 48px;
    }
  }
}

@media (max-width: 480px) {
  .title {
    font-size: 32px;
    margin-bottom: 24px;
    span {
      font-size: 32px;
    }
  }
  .steps {
    gap: 16px;
    margin-bottom: 24px;
  }
}
