.wrapper{
    padding-top: 80px;
    background: var(--dark);

    @media (max-width: 768px) {
        padding-top: 0;
    }
}

.list{
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    gap: 12px;

    @media (max-width: 768px) {
        margin-top: 24px;
    }

    .faqItem{
        padding: 32px;
        border-radius: 24px;
    }
}