.wrapper {
    padding-top: 104px;

    @media (max-width: 768px) {
        padding-top: 40px;
    }

    .cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 24px;

        @media (max-width: 768px) {
            grid-template-columns: 1fr;
        }
    }

    .card {
        padding: 48px;
        position: relative;
        border-radius: 32px;
        overflow: hidden; 
        background: #1a1a1a; 

        &:last-child {
            background: var(--primary);
        }

        @media (max-width: 768px) {
            padding: 24px;
        }

        .cardContent {
            position: relative;
            z-index: 2; 
        }

        .documentsList {
            margin-top: 24px;
            list-style: none;
            padding: 0;
            display: flex;
            flex-direction: column;
            gap: 16px;
        }

        .cardFeatures {
            margin-top: 40px;
            display: flex;
            gap: 16px;
            justify-content: space-between;

            @media (max-width: 768px) {
                flex-direction: column;
            }

            .cardFeature {
                display: flex;
                gap: 16px;
                align-items: center;

                .cardFeatureIcon {
                    width: 46px;
                    height: 46px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50%;
                    background-color: var(--primary);
                }

                .cardFeatureText {
                    display: flex;
                    flex-direction: column;
                    gap: 4px;
                }
            }
        }

        .glowEffect {
            position: absolute;
            top: -50%; 
            right: -120%;
            width: 1200px;
            height: 1200px;
            background: radial-gradient(
                circle at center,
                rgba(255, 156, 0, 0.6) 0%, 
                rgba(255, 156, 0, 0.3) 20%, 
                rgba(255, 156, 0, 0.1) 40%, 
                transparent 70% 
            );
            pointer-events: none;
            z-index: 1;
            opacity: 0.9; 
            animation: glowPulse 4s ease-in-out infinite alternate;

            @media (max-width: 768px) {
                top: 0;
                right: -75%;
            }
        }

        .paymentMethods {
            display: flex;
            flex-direction: column;
            gap: 16px;
        }

        .paymentMethod {
            padding: 24px;

            display: flex;
            transition: all 0.2s ease;
            background-color: #ffa619;
            border-radius: 24px;
            gap: 16px;

            cursor: pointer;

            &:hover {
                background-color: var(--white);

                & .paymentMethodIcon {
                    background-color: var(--primary);
                }

                & .paymentMethodTitle {
                    color: var(--dark);
                }

                & .paymentMethodDescriptionList {
                    & li {
                        color: var(--dark-secondary);
                    }
                }

                & svg path {
                    fill: var(--white) !important;
                }
            }
        }

        .paymentMethodIcon {
            width: 64px;
            height: 64px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 16px;
            background-color: var(--white);

            transition: all 0.2s ease;
        }

        .paymentMethodText {
            display: flex;
            flex-direction: column;
            gap: 8px;
        }

        .paymentMethodTitle {
            font-size: 18px;
            font-weight: 500;
            color: var(--white);
        }   

        .paymentMethodDescriptionList {
            list-style: none;
            padding: 0;
            display: flex;
            flex-direction: column;
            gap: 4px;

            & li {
                font-size: 14px;
                font-weight: 400;
            color: var(--white);
            }
        }
    }
}

@keyframes glowPulse {
    0% {
        opacity: 0.6;
        transform: scale(1);
    }
    100% {
        opacity: 0.9;
        transform: scale(1.05);
    }
}