.attractionsWrapper {
    width: 100%;

    .attractionsContainer {
        margin: 0;
        padding: 16px 16px 24px 16px;
        display: flex;
        flex-direction: row;
        gap: 24px;
        width: max-content;
        list-style: none;

        @media (max-width: 480px) {
            padding: 0px 16px 24px 16px; // Добавляем боковые отступы на мобильных
            gap: 16px; // Уменьшаем отступ между карточками
        }

        .attractionsItem {
            flex: 0 0 auto;

            @media (max-width: 480px) {
                width: calc(100vw - 32px); // Карточка занимает всю ширину экрана минус отступы
                max-width: none; // Убираем максимальную ширину на мобильных
            }
        }
    }
}

.cardWrapper {
    max-width: 570px;
    display: flex;
    flex-direction: column;
    border-radius: 24px;
    // box-shadow: 0px 12px 20px 0px #1212120A;
    border: 1px solid #1212123a;
    gap: 32px;

    @media (max-width: 480px) {
        gap: 24px;
        box-shadow: none;
        border: 1px solid #1212123a;
    }

    .cardContainer {
        padding: 24px;
        display: flex;
        flex-direction: column;
        gap: 32px;

        @media (max-width: 480px) {
            padding: 16px;
        }

        .imageWrapper {
            position: relative;
            width: 100%;
            height: 300px;
            border-radius: inherit;
            overflow: hidden;

            @media (max-width: 480px) {
                width: 100%;
                height: 315px;
            }

            .cardTags {
                position: absolute;
                top: 16px;
                left: 16px;
                display: flex;
                gap: 8px;

                .cardTag {
                    padding: 8px 16px;
                    border-radius: 16px;
                    background: var(--white);
                    color: var(--black);
                    font-size: 12px;
                    font-weight: 500;
                }

                .primary {
                    background: var(--primary);
                    color: var(--white);
                }
            }
        }

        .cardContent {
            padding: 0 24px;
            display: flex;
            flex-direction: column;
            gap: 16px;

            @media (max-width: 480px) {
                padding: 0;
            }

            .cardTop {
                display: flex;
                justify-content: space-between;
                align-items: center;

                @media (max-width: 480px) {
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 8px;
                }
            }
        }
    }


}

.horizontalCardWrapper {
    & .cardContainer {
        flex-direction: row;
        // box-shadow: 0px 12px 20px 0px #1212120A;

        @media (max-width: 480px) {
            gap: 16px;
        }

        .imageWrapper {
            width: 258px;
            height: 258px;
            flex-shrink: 0;

            @media (max-width: 480px) {
                width: 140px;
                height: auto;

                & img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 24px;
                }
            }
        }

        .cardContent {
            padding: 0;
            gap: 24px;

            .cardTop {
                flex-direction: column;
                align-items: flex-start;
                gap: 8px;

            }
        }
    }

}

.attractionDescription {
    p {
        line-height: 150%;
    }
}