.input {
    width: 100% !important;
    background-color: var(--light-gray) !important;
    border-color: transparent !important;
    color: var(--dark) !important;
    font-size: 16px !important;
    padding: 0px !important;
  }
  
  .inputError {
    width: 100% !important;
    background-color: var(--light-gray) !important;
    color: var(--dark) !important;
    font-size: 16px !important;
    padding: 0px !important;
  }
  
  .button {
    height: 56px !important;
    font-size: 18px !important;
  }
  
  .select {
    width: 100% !important;
    background-color: var(--light-gray) !important;
    border-color: transparent !important;
    color: var(--dark) !important;
    font-size: 16px !important;
    border-radius: 16px !important;
    padding: 0px !important;
  }
  
  .selectError {
    width: 100% !important;
    background-color: var(--light-gray) !important;
    border-color: var(--error) !important;
    color: var(--dark) !important;
    font-size: 16px !important;
    border-radius: 16px !important;
    padding: 0px !important;
  }