.wrapper {
    padding-top: 104px;

    @media (max-width: 768px) {
        padding-top: 40px;
    }

    .review{
        padding: 32px;
        border-radius: 24px;
        background-color: var(--background-card-color);

        @media (max-width: 768px) {
            padding: 24px;
        }
    }

    .review-bullet {
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: var(--primary);
    }

    :global(.swiper) {
        padding-bottom: 24px; // Регулируйте этот отступ по вашему усмотрению
      }
      
      // Стили для пагинации
      :global(.swiper-pagination) {
        bottom: 0; // Прижимаем пагинацию к низу контейнера свайпера
      }
}